<main *ngIf="student">
    <header>
        <h2>{{student.name | uppercase}}</h2>
    </header>
    <div>
        <ul>
            <li>
                <label>Name: </label> {{student.name}}
            </li>
        </ul>
        <ul>
            <li>
                <label>Class: </label> {{student.class}}
            </li>
        </ul>
        <ul>
            <li>
                <label>Batch: </label> {{student.batch}}
            </li>
        </ul>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="guardianDetails">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Guardian Details
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                <div class="accordion-body">
                    <ul class="list-group list-group">
                        <li *ngFor="let guardian of student.guardians" class="list-group-item d-flex justify-content-between align-items-start">
                            <div>
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">{{guardian.name}}</div>
                                    {{guardian.contact}}
                                  </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="payment">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Payment
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                <div class="accordion-body">
                    <button (click)="initializeNewPayment()" type="button" class="primary">Pay</button>
                    <div class="row g-3 align-items-center" *ngIf="newPayment">
                        <div class="col-auto">
                          <label for="paymentAmount" class="col-form-label">Amount</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="paymentAmount" class="form-control" aria-describedby="passwordHelpInline" [(ngModel)]="newPayment.amount">
                        </div>
                        <div class="col-auto">
                            <span id="passwordHelpInline" class="form-text">
                            per {{student.fees.payment_mode}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="paymentHistory">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              Payment History
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
            <div class="accordion-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let record of student.payment_history; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{record.paid_on | date}}</td>
                            <td>{{record.amount}}</td>
                            <td>{{record.remarks}}</td>
                        </tr>
                    </tbody>
                </table>     
            </div>
          </div>
        </div>
    </div>
</main>
